<h1> Employee Show Page </h1>

<p>Name: <%= @employee.name %></p>
<p>Level: <%= @employee.level %></p>

<p>Tickets: <% @employee.tickets.order_by_age.each do |ticket| %></p>
  <%= ticket.subject %>
<% end %>

<p> Submit a new ticket: <%= form_with url: employee_tickets_path, method: :post, local: true do |f| %> </p>
  <%= f.label :subject %>
  <%= f.text_field :subject %>
  <%= f.hidden_field :employee_id, value: @employee.id %> 
  <%= f.submit 'Add Ticket' %>
<% end %>
